#form{
    background-color: #12231;
    height: 550px;
    margin-top: 3%;
    border-radius: 6px;
    box-shadow: 0px 5px 20px 1px;
}

#form .name{
    float: none;
    text-align: center;
    border-bottom: 1px black solid;
    padding: 0.6%;
    font-size: 24px;
    font-weight: 300;
    text-shadow: 1px 1px 2px;
}

#registerForm, #loginForm{
    float: left;
    padding-bottom: 50px;
}

#registerForm .field, #loginForm .field{
    padding: 0.6%;
    border: 0px;
    border-bottom: 2px grey solid;
    box-shadow: 0px 1x 5px 10px;
}

.checkboxField{
    font-weight: 500;
    color: black;
}

.but1{
    font-weight: bolder;
}

.but2{
    text-decoration: underline;
}

.error{
    color: red;
    font-size: 1em;
    text-shadow:none;
    border-bottom: none;
    bold: 400;
}

fieldset {
    display: none
}

fieldset.show {
    display: block
}

select:focus,
input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #2196F3 !important;
    outline-width: 0 !important;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.tabs {
    margin: 2px 5px 0px 5px;
    padding-bottom: 10px;
    cursor: pointer
}

.tabs:hover,
.tabs.active {
    border-bottom: 1px solid #2196F3
}

a:hover {
    text-decoration: none;
    color: #1565C0
}

.box {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px
}

.modal-backdrop {
    background-color: #64B5F6
}

.line {
    background-color: #CFD8DC;
    height: 1px;
    width: 100%
}

@media screen and (max-width: 768px) {
    .tabs h6 {
        font-size: 12px
    }
}

