<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div id="contact">
    <div class="contactAll row">
        <div class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <b><i class="far fa-envelope"></i> Kontakt</b>
        </div>

        <div class="info col-xs-10 col-sm-10 col-md-10 col-lg-11">
            <h4 th:if="${loggedUser} != null">Witaj <label th:text="${loggedUser.firstName}"></label> napisz do nas e-mail</h4>
            <h4 ><p th:if="${loggedUser} == null">Witaj napisz do nas e-mail</p></h4>
            <br>
            <div class="row">

                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6" th:if="${loggedUser} == null">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" class="form-control" placeholder="Podaj swoje imię"><br>
                                    <!--                                                <label for="name" class="">Your name</label>-->
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6" th:if="${loggedUser} == null">
                                <div class="md-form mb-0">
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Podaj swój adres e-mail"><br>
                                    <!--                                                <label for="email" class="">Your email</label>-->
                                </div>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
<!--                                    <input type="text" id="subject" name="subject" class="form-control" placeholder="Temat"><br>-->
                                    <select id="subject" name="subject" class="form-control" placeholder="Temat">
                                        <option selected="true" disabled>Wybierz temat wiadomości</option>
                                        <option>Konfiguracja</option>
                                        <option>Zapytanie o produkt</option>
                                        <option>Zamówienie</option>
                                    </select>
                                    <!--                                                <label for="subject" class="">Subject</label>-->
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <br>
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <div class="md-form">
                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" placeholder="Twoja wiadomość"></textarea>
                                    <!--                                                <label for="message">Your message</label>-->
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->

                    </form>

                    <div class="text-center text-md-left">
                        <br>
                        <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Wyślij</a>
                    </div>
                    <div class="status"></div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0">
                        <li><i class="fas fa-map-marker-alt fa-2x"></i>
                            <p>Kielce, ul. Marii Opielińskiej 21</p>
                        </li>

                        <li><i class="fas fa-phone mt-4 fa-2x"></i>
                            <p>(48) 41 343-10-40</p>
                        </li>

                        <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                            <address>

                                <a href="mailto:#">infomax@infomax.pl</a>
                            </address>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

            </div>
        </div>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">imię i nazwisko</th>
                <th scope="col">numer telefonu</th>
                <th scope="col">adres e-mail</th>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>Duda Barbara</td>
                <td>102-330-440</td>
                <td>barbara.duda@infomax.pl</td>
            </tr>
            <tr>
                <td>Kopeć Małgorzata</td>
                <td>102-330-440</td>
                <td>malgorzata.kopec@infomax.pl</td>
            </tr>
            <tr>
                <td>Topolska Iwona</td>
                <td>102-330-440</td>
                <td>iwona.topolska@infomax.pl</td>
            </tr>
            <tr>
                <td>Lewicka Irena</td>
                <td>102-330-440</td>
                <td>irena.lewicka@infomax.pl</td>
            </tr>
            <tr>
                <td>Orzechowski Dariusz</td>
                <td>102-330-440</td>
                <td>transport@infomax.pl</td>
            </tr>
            <tr>
                <td>Windys Grażyna</td>
                <td>102-330-440</td>
                <td>transport@infomax.pl</td>
            </tr>
            <tr>
                <td>Stanek Joanna</td>
                <td>102-330-440</td>
                <td>joanna.stanek@infomax.pl</td>
            </tr>
            <tr>
                <td>Malec Irena</td>
                <td>102-330-440</td>
                <td>irena.malec@infomax.pl</td>
            </tr>
            <tr>
                <td>Bojczuk Ewa</td>
                <td>102-330-440</td>
                <td>ewa.bojczuk@infomax.pl</td>
            </tr>
            <tr>
                <td>Kalinowska Monika</td>
                <td>102-330-440</td>
                <td>monika.kalinowska@infomax.pl</td>
            </tr>
            <tr>
                <td>Grzelak Marta</td>
                <td>102-330-440</td>
                <td>marta.grzelak@infomax.pl</td>
            </tr>
            <tr>
                <td>Działowski Waldemar</td>
                <td>102-330-440</td>
                <td>waldemar.dzialowski@infomax.pl</td>
            </tr>
            <tr>
                <td>Lewicki Grzegorz</td>
                <td>102-330-440</td>
                <td>grzegorz.lewicki@infomax.pl</td>
            </tr>
            <tr>
                <td>Szczepanik Zbigniew</td>
                <td>102-330-440</td>
                <td>zbigniew.szczepanik@infomax.pl</td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

</body>
</html>