<!doctype html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/headFragment :: head"></div>
    <link rel="stylesheet" type="text/css" href="/tradeFair.css" >
</head>
<body>
<div class="container-fluid">
    <header>
        <div th:replace="fragments/headerFragment :: header"></div>
    </header>
    <nav>
        <div th:replace="fragments/navFragment :: nav"></div>
    </nav>
    <main>
        <div class="trade-title">Targi Budowlane</div>
        <hr>
<!--
            <div class="companies" style="float:none;">
            <div class="company-card">
                <div class="front">
                    <img src="/images/akt1.jpg" >
                </div>
                <div class="back">
                    <div class="back-content middle">
                        <h2>Infomax - nazwa firmy</h2>
                        <hr>
                        <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                        <hr>
                        <div class="sm">
                            <a href="#"><i class="fab fa-facebook"></i> www.facebook.pl</a><br>
                            <a href="#"><i class="fas fa-globe"></i> www.infomax.pl</a><br>
                            <a href="#"><i class="fas fa-envelope"></i> infomax@infomax.pl</a><br>
                            <a href="#"><i class="fas fa-phone"></i> +48 345 32 12</a>
                        </div>

                    </div>

                </div>


            </div>
        </div>
-->

        <div class="companies2" style="width: 350px; height: 400px; background-color: green; border-radius: 3px;">
            <img id="zd" src="/images/akt1.jpg" style="width: 300px; height: 200px; position:relative; left:25px; top:25px;">
            <style>
                #zd:hover{
                    transform: scale(1.08);
                    transition: .3s;
                    box-shadow: 0px -2px 10px rgba(0,0,0,1);
                }
            </style>


        </div>

    </main>
    <footer>
    </footer>
</div>
</body>
</html>