<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="fragments/headFragment :: head"></div>
    <link rel="stylesheet" type="text/css" href="/styleConfigCal.css" >
</head>
<body>
    <div class="container-fluid">
        <header>
            <div th:replace="fragments/headerFragment :: header"></div>
        </header>
        <nav>
            <div th:replace="fragments/navFragment :: nav"></div>
        </nav>
        <div class="calendar">
            <div class="row configurator col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">Konfigurator</div>
                <form th:action="@{/config-calendars/save-fold}" method="post">
                    <div class="headTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">Rodzaj</div>
                    <div class="type row options col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input id="type_1" class="type" type="radio" value="1dz" name="cal_type" >
                        <label class="option col-xs-12 col-sm-12 col-md-12 col-lg-4"  for="type_1" >
                            1-dzielny
                        </label>
                        <input id="type_2" class="type" type="radio" value="2dz" name="cal_type" >
                        <label class="option col-xs-12 col-sm-12 col-md-12 col-lg-4"  for="type_2" >
                            2-dzielny
                        </label>
                        <input id="type_3" class="type" type="radio" value="3dz" name="cal_type" checked>
                        <label class="option col-xs-12 col-sm-12 col-md-12 col-lg-4"  for="type_3">
                            3-dzielny
                        </label>
                    </div>
                    <div class=" headTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">Linia</div>
                    <div class="line row options col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input id="line_eko" class="type" type="radio" value="eko" name="cal_line">
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-4" for="line_eko">
                            Eko
                        </label>
                        <input id="line_mid" class="type" type="radio" value="mid" name="cal_line">
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-4" for="line_mid">
                            Mid
                        </label>
                        <input id="line_pre" class="type" type="radio" value="pre" name="cal_line" checked>
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-4" for="line_pre">
                            Premium
                        </label>
                    </div>
                    <div class=" headTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">Szerokość</div>
                    <div class="row options col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input id="width_s" class="type" type="radio" value="std" name="cal_width" checked>
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-6" for="width_s">
                            Standard
                        </label>
                        <input id="width_w" class="type" type="radio" value="sze" name="cal_width">
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-6" for="width_w">
                            Szeroki
                        </label>
                    </div>
                    <div class=" headTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">Łączenie</div>
                    <div class="row options col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input id="conn_b" class="type" type="radio" value="big" name="cal_conn" checked>
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-6" for="conn_b">
                            Bigowanie
                        </label>
                        <input id="conn_h" class="type" type="radio" value="spi" name="cal_conn" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-6" for="conn_h">
                            Spiralowanie
                        </label>
                    </div>
                    <div class=" headTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">Mechanizm zegarowy</div>
                    <div class="row options col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input id="clk_none" class="type" type="radio" value="nie" name="cal_clock" checked>
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-6" for="clk_none">
                            Nie
                        </label>
                        <input id="clk_clock" class="type" type="radio" value="tak" name="cal_clock" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-6" for="clk_clock">
                            Tak
                        </label>
                    </div>
                    <div class=" headTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">Wdruk reklamowy</div>
                    <div class="row options col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input id="adv_0" class="type" type="radio" value="0" name="cal_advert" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-4" for="adv_0">
                            Brak
                        </label>
                        <input id="adv_1" class="type" type="radio" value="1" name="cal_advert" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-4" for="adv_1">
                            1 reklama
                        </label>
                        <input id="adv_3" class="type" type="radio" value="3" name="cal_advert" checked>
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-4" for="adv_3">
                            3 reklamy
                        </label>
                        <input id="adv_4" class="type" type="radio" value="4" name="cal_advert" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-4" for="adv_4" style="display:none;">
                            4 reklamy
                        </label>
                        <input id="adv_1m" class="type" type="radio" value="1m" name="cal_advert" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-4" for="adv_1m">
                            1 mała reklama
                        </label>
                        <input id="adv_1d" class="type" type="radio" value="1d" name="cal_advert" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-4" for="adv_1d">
                            1 duża reklama
                        </label>
                    </div>
                    <div class=" headTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">Kolor plecek</div>
                    <div class="row options col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input id="back_0" class="type" type="radio" value="0" name="cal_back" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="back_0">
                            Biały
                        </label>
                        <input id="back_wp" class="type" type="radio" value="wp" name="cal_back" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="back_wp">
                            Biały + napisy 1 kolor sito
                        </label>
                        <input id="back_1k" class="type" type="radio" value="1k" name="cal_back" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="back_1k">
                            Apla 1 kolor sito + białe napisy
                        </label>
                        <input id="back_1p" class="type" type="radio" value="1p" name="cal_back">
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="back_1p" style="display: none;">
                            1 kolor sito - pantone niedobierany
                        </label>
                        <input id="back_4k" class="type" type="radio" value="4k" name="cal_back" checked>
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="back_4k">
                            4 kolory CMYK
                        </label>
                    </div>
                    <div class=" headTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">Wariant kalendarium</div>
                    <div class="row options col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input id="calm_1" class="type" type="radio" value="1" name="cal_calm" checked>
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-3" for="calm_1">
                            Wariant 1
                        </label>
                        <input id="calm_2" class="type" type="radio" value="2" name="cal_calm" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-3" for="calm_2">
                            Wariant 2
                        </label>
                        <input id="calm_3" class="type" type="radio" value="3" name="cal_calm">
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-3" for="calm_3">
                            Wariant 3
                        </label>
                        <input id="calm_4" class="type" type="radio" value="4" name="cal_calm" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-3" for="calm_4">
                            Wariant 4
                        </label>
                        <input id="calm_5" class="type" type="radio" value="5" name="cal_calm" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-3" for="calm_5">
                            Wariant 5
                        </label>
                    </div>
                    <div class=" headTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">Opakowanie jednostkowe</div>
                    <div class="row options col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input id="pack_0" class="type" type="radio" value="0" name="cal_pack">
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-3" for="pack_0">
                            Brak
                        </label>
                        <input id="pack_kp" class="type" type="radio" value="kp" name="cal_pack" checked>
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-3" for="pack_kp">
                            Koperta papierowa
                        </label>
                        <input id="pack_kf" class="type" type="radio" value="kf" name="cal_pack">
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-3" for="pack_kf">
                            Koperta foliowa
                        </label>
                        <input id="pack_e" class="type" type="radio" value="e" name="cal_pack" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-3" for="pack_e">
                            Etui
                        </label>
                        <input id="pack_p" class="type" type="radio" value="p" name="cal_pack" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-3" for="pack_p">
                            Pudełko
                        </label>
                    </div>
                    <div class=" headTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">Opracowanie graficzne</div>
                    <div class="row options col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input id="gd_pdf" class="type" type="radio" value="0" name="cal_gd">
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="gd_pdf">
                            projekt klienta plik zamknięty - PDF produkcyjny
                        </label>
                        <input id="gd_w1" class="type" type="radio" value="120" name="cal_gd" checked >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="gd_w1">
                            przygotowanie przez INFOMAX - wariant 1
                        </label>
                        <input id="gd_w2" class="type" type="radio" value="180" name="cal_gd">
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="gd_w2">
                            przygotowanie przez INFOMAX - wariant 2
                        </label>
                        <input id="gd_w3" class="type" type="radio" value="250" name="cal_gd" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="gd_w3">
                            przygotowanie przez INFOMAX - wariant 3
                        </label>
                        <input id="gd_w4" class="type" type="radio" value="450" name="cal_gd" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="gd_w4">
                            przygotowanie przez INFOMAX - wariant 4
                        </label>
                    </div>
                    <div class=" headTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">Odbitka produkcyjna</div>
                    <div class="row options col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input id="nocopy" class="type" type="radio" value="0" name="cal_copy" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-6" for="nocopy">
                            Brak
                        </label>
                        <input id="copy" class="type"  type="radio" value="tak" name="cal_copy" checked>
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-6" for="copy">
                            Tak
                        </label>
                    </div>
                    <div class=" headTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">Transport</div>
                    <div class="row options col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input id="trans_o" class="type"  type="radio" value="o" name="cal_trans">
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="trans_o">
                            Odbiór osobisty w siedzibie INFOMAX w Kielcach
                        </label>
                        <input id="trans_k" class="type"  type="radio" value="k" name="cal_trans" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="trans_k">
                            Wysyłka kurierem klienta
                        </label>
                        <input id="trans_i" class="type"  type="radio" value="i" name="cal_trans" checked>
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12" for="trans_i">
                            Wysyłka kurierem INFOMAX do klienta
                        </label>
                    </div>
                    <div class=" headTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">Płatność</div>
                    <div class="row options col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input id="pay_7" class="type"  type="radio" value="7" name="cal_pay">
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-4" for="pay_7">
                            Przelew 7 dni
                        </label>
                        <input id="pay_14" class="type"  type="radio" value="14" name="cal_pay" >
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-4" for="pay_14">
                            Przelew 14 dni
                        </label>
                        <input id="pay_100p" class="type"  type="radio" value="100" name="cal_pay" checked>
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-4" for="pay_100p">
                            Przedpłata 100%
                        </label>
                    </div>
                    <button type="submit" class="but1 btn btn-info col-xs-12 col-sm-12 col-md-12 col-lg-12">Zapisz konfigurację</button>
                </form>
            </div>
            <div class="row visualisation col-xs-12 col-sm-12 col-md-12 col-lg-5">
                <div class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">Podgląd</div>
                <div id="cal_img_body">
                    <div id="cal_img_head" class="head"><div id="cal_img_head_shadow" class="head"></div></div>
                    <div id="cal_img_back" class="back">
                        <div id="cal_img_calm" class="back">
                            <div id="cal_img_helix0" class="helix"></div>
                            <div id="cal_img_helix1" class="helix"></div>
                            <div id="cal_img_helix2" class="helix"></div>
                            <div id="cal_img_helix3" class="helix"></div>
                            <div id="cal_img_helix4" class="helix"></div>
                            <div id="cal_img_helix5" class="helix"></div>
                            <div id="cal_img_adv1" class="advert">
                                <p>NAPIS REKLAMOWY 270mm x 35mm</p>
                            </div>
                            <div id="cal_img_adv2"  class="advert">
                                <p>NAPIS REKLAMOWY 270mm x 35mm</p>
                            </div>
                            <div id="cal_img_adv3"  class="advert">
                                <p>NAPIS REKLAMOWY 270mm x 35mm</p>
                            </div>
<!--                            <div id="cal_img_adv4">-->

<!--                            </div>-->
                        </div>
                    </div>


                </div>
            </div>
            <div class="row price col-xs-12 col-sm-12 col-md-12 col-lg-3">
                <div class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">Wycena</div>
                    <table class="offer_price offer_pay col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <tbody >
                        <tr>
                            <th >Nakład w szt.</th>
                            <th >Cena netto za szt.</th>
                        </tr>
                        <tr class="id50 checked">
                            <td class="val">50</td>
                            <td id="50" class="val"></td>
                        </tr>
                        <tr class="id100 ">
                            <td class="val">100</td>
                            <td id="100" class="val"></td>
                        </tr>
                        <tr class="id150 ">
                            <td>150</td>
                            <td id="150" class="val col-xs-12 col-sm-12 col-md-12 col-lg-6"></td>
                        </tr>
                        <tr class="id200 ">
                            <td>200</td>
                            <td id="200" class="val col-xs-12 col-sm-12 col-md-12 col-lg-6"></td>
                        </tr>
                        <tr class="id300 ">
                            <td>300</td>
                            <td id="300" class="val col-xs-12 col-sm-12 col-md-12 col-lg-6"></td>
                        </tr>
                        <tr class="id400 ">
                            <td>400</td>
                            <td id="400" class="val col-xs-12 col-sm-12 col-md-12 col-lg-6"></td>
                        </tr>
                        <tr class="id500 ">
                            <td>500</td>
                            <td id="500" class="val col-xs-12 col-sm-12 col-md-12 col-lg-6"></td>
                        </tr>
                        <tr class="id600 ">
                            <td>600</td>
                            <td id="600" class="val col-xs-12 col-sm-12 col-md-12 col-lg-6"></td>
                        </tr>
                        <tr class="id700 ">
                            <td>700</td>
                            <td id="700" class="val col-xs-12 col-sm-12 col-md-12 col-lg-6"></td>
                        </tr>
                        <tr class="id800 ">
                            <td>800</td>
                            <td id="800" class="val col-xs-12 col-sm-12 col-md-12 col-lg-6"></td>
                        </tr>
                        <tr class="id900 ">
                            <td>900</td>
                            <td id="900" class="val col-xs-12 col-sm-12 col-md-12 col-lg-6"></td>
                        </tr>
                        <tr class="id1000 ">
                            <td>1000</td>
                            <td id="1000" class="val col-xs-12 col-sm-12 col-md-12 col-lg-6"></td>
                        </tr>
                        <tr class="id1500 ">
                            <td>1500</td>
                            <td id="1500" class="val col-xs-12 col-sm-12 col-md-12 col-lg-6"></td>
                        </tr>
                        <tr class="id2000 ">
                            <td>2000</td>
                            <td id="2000" class="val col-xs-12 col-sm-12 col-md-12 col-lg-6"></td>
                        </tr>
                        <tr class="id3000 ">
                            <td>3000</td>
                            <td id="3000" class="val col-xs-12 col-sm-12 col-md-12 col-lg-6"></td>
                        </tr>
                        <tr class="id5000 ">
                            <td>5000</td>
                            <td id="5000" class="val col-xs-12 col-sm-12 col-md-12 col-lg-6"></td>
                        </tr>
                       </tbody>
                    </table>
                    <table>
                        <caption>Podsumowanie</caption>
                        <tbody>
                        <tr>
                            <th>Cena netto nakładu</th>
                            <td id="pay_issue"></td>
                        </tr>
                        <tr id="pay_discount_row">
                            <th>Po rabacie</th>
                            <td id="pay_discount"></td>
                        </tr>
                        <tr>
                            <th>Opracowanie graficzne</th>
                            <td id="pay_graph"></td>
                        </tr>
                        <tr>
                            <th>Odbitka produkcyjna</th>
                            <td id="pay_proof"></td>
                        </tr>
                        <tr>
                            <th>Waga zamówienia</th>
                            <td id="pay_weight"></td>
                        </tr>
                        <tr>
                            <th>Ilość paczek</th>
                            <td id="pay_pack"></td>
                        </tr>
                        <tr>
                            <th>Cena netto transportu</th>
                            <td id="pay_trans"></td>
                        </tr>
                        <tr>
                            <th>Cena netto zamówienia</th>
                            <td id="pay_netto"></td>
                        </tr>
                        <tr>
                            <th>Podatek VAT</th>
                            <td id="pay_tax"></td>
                        </tr>
                        <tr>
                            <th>Cena brutto zamówienia</th>
                            <td id="pay_brutto"></td>
                        </tr>
                        </tbody>
                    </table>
            </div>
            <script src="scripts/configCalendars.js"></script>
        </div>
    </div>

</body>
</html>