<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <div th:replace="fragments/headFragment :: head"></div>
    </head>
    <body>
    <div class="container-fluid">
        <header>
            <div th:replace="fragments/headerFragment :: header"></div>
        </header>
        <nav>
            <div th:replace="fragments/navFragment :: nav"></div>
        </nav>
        <main>
            <div id="slider">
                <div th:replace="fragments/sliderFragment :: #slider"></div>
            </div>
            <div class="profile">
                <div class="boxU userConfigurations" style="border: 1px solid black;">
<!--                    <h5 class="chapterTitle">Moje konfiguracje</h5>-->
                    <div class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <b><i class="fas fa-list "></i> Moje konfiguracje</b>
                    </div>
                    <h6 th:if="${allConfigurations} == null"> BRAK KONFIGURACJI</h6>
                    <h6>W tym miejscu masz możliwość zarządzać zapisanymi konfiguracjami. Jeśli chciałbyś zamówić kalendarz naciśnij przycisk wyślij a my  się z Tobą skontaktujemy.
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    </h6>
                    <hr>
                    <tr>
                        <tr class="col-xs-12 col-sm-12 col-md-12 col-lg-12" th:each="config : ${allConfigurations}" >
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4" style="flex:1;">
                                <img src="images/cal_icon.png" style="width: 100px; height:80px;">
                            </div>
                            <br>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-8" style="flex:2;">
                                <td class="col-6">Kalendarz </td><td class="col-6"><b><label th:text="${config.getTypeData()}" ></label></b></td><br>
                                <td class="col-6">Linia kalendarza </td><td class="col-6"><b><label th:text="${config.getLineData()}"></label></b></td><br>
                                <td class="col-6">Szerokość </td><td class="col-6"><b><label th:text="${config.getWidthData()}"></label></b></td><br>
                                <td class="col-6">Łączenie </td><td class="col-6"><b><label th:text="${config.getConnectData()}"></label></b></td><br>
                                <a th:href="|@{/user/delete-config/}${config.getId()}|"><button type="submit" class="but1 btn btn-info">Usuń</button></a>
                                <button class="btn btn-success">Wyślij konfiguracje na adres e-mail</button>
                            </div>
                            <hr>
                        </tr>




                    </tr>

                </div>
                <div class="boxU userRecommended" style="border: 1px solid black;">
<!--                    <h5 class="chapterTitle">Polecane</h5>-->
                    <div class="title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <b><i class="fas fa-list "></i> Polecane</b>
                    </div>
                    <ul id="recommendedUl" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <li class="recommendedLi">
                            <img class="recommendedImg" src="images/banerpolecane.jpg" >
                        </li>
                        <li class="recommendedLi">
                            <img class="recommendedImg" src="images/banerpolecane.jpg" >
                        </li>
                        <li class="recommendedLi">
                            <img class="recommendedImg" src="images/banerpolecane.jpg" >
                        </li>
                    </ul>
                </div>
            </div>

            <div th:replace="fragments/contactFragment :: #contact" ></div>
        </main>


        <footer>
        </footer>
    </div>
    </body>
</html>