<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <div th:replace="fragments/headFragment :: head"></div>
    </head>
    <body>
    <div class="container-fluid">
        <header>
            <div th:replace="fragments/headerFragment :: header"></div>
        </header>
        <nav>
            <div th:replace="fragments/navFragment :: nav"></div>
        </nav>
        <main>
            <div class="profile col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="float: left; border: 1px solid black;">
                    <h5>Nowości</h5>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="float: left; border: 1px solid black;">
                    <h5>Moje konfiguracje</h5>
                    <h6>W tym miejscu masz możliwość zarządzać zapisanymi konfiguracjami. Jeśli chciałbyś zamówić kalendarz naciśnij przycisk wyślij a my  się z Tobą skontaktujemy</h6>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="float: left; border: 1px solid black;">
                    <h5>Polecane</h5>
                </div>
            </div>

        </main>
        <div id="contact" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float:none;">
            <div th:replace="fragments/contactFragment :: #contact"></div>
        </div>
        <footer>
        </footer>
    </div>
    </body>
</html>